<!DOCTYPE html>
<html>
  <head>
    <title>Book Collection</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="styles/reset.css" rel="stylesheet"/>
    <link href="styles/base.css" rel="stylesheet"/>
    <link href="styles/layout.css" rel="stylesheet"/>
    <link href="styles/icons.css" rel="stylesheet"/>
    <link href="styles/modules.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Book Detail</h1>
      <p><a href="/">Home</a></p>
    </header>
    <article>
        <section>
          <img src=<%= bookInfo.image_url %> alt="bookcover">
          <h3>Title: <%= bookInfo.title %></h3>
          <h4>Author: <%= bookInfo.author %></h4>
          <p>Description: <%= bookInfo.description %></p>
          <h4>ISBN: <%= bookInfo.isbn %></h4>
          <h4>Bookshelf: <%= bookInfo.bookshelf %></h4>
        </section>
        <section>
          <form action="/update/<%= bookInfo.id %>" method="post">

            <input type='hidden' name="_method" value="put">
    
          
          <input type="text" name="title" value="<%= bookInfo.title %>" >
          <input type="text" name="author" value="<%= bookInfo.author %>" >
          <input type="text" name="isbn" value="<%= bookInfo.isbn %>">
          <input type="text" name="image_url" value="<%= bookInfo.image_url %>">
          <input type="text" name="description" value="<%= bookInfo.description %>">
          <input type="text" name="bookshelf" value="<%= bookInfo.bookshelf %>" required>
          <button type="submit">Edit</button>
          <button type="submit">Delete</button>
          </form>
        </section>
      </article>
</body>
</html>