<%- include('../../partials/head') %>

  <body>
    <%- include('../../partials/header') %>

    <article>
        <% books.forEach(book => { %>
          <h4>Number of Books:<%= books.length %></h4>
        <section>
          <img src=<%= book.url %> alt="bookcover">
          <h3><%= book.title %></h3>
          <h4><%= book.author %></h4>
          <p><%= book.description %></p>
          <h4><%= book.isbn %></h4>
          <h4><%= book.bookshelf %></h4>
        </section>
        <% }) %>  
      </article>

</body>
</html>