<!DOCTYPE html>
<html>
  <head>
    <title>Book Collection</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="styles/reset.css" rel="stylesheet"/>
    <link href="styles/base.css" rel="stylesheet"/>
    <link href="styles/layout.css" rel="stylesheet"/>
    <link href="styles/icons.css" rel="stylesheet"/>
    <link href="styles/modules.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
      <p><a href="/">Home</a></p>
    </header>
    <h2>Search Results</h2>
    <article>
      <% bookList.forEach(book => { %>
        <div>
        <img src=<%= book.image_url %> alt="bookcover">
        <h3><%= book.title %></h3>
        <h4><%= book.author %></h4>
        <p><%= book.description %></p>
        <button type="submit">Select this Book</button>
        <form action="/add" method="post">
          <input type="text" name="title" value="<%= book.title %>" >
          <input type="text" name="author" value="<%= book.author %>" >
          <input type="text" name="isbn" value="<%= book.isbn %>">
          <input type="text" name="image_url" value="<%= book.image_url %>">
          <input type="text" name="description" value="<%= book.description %>">
          <input type="text" name="bookshelf" value="<%= book.bookshelf %>">
          <button type="submit">Selecet</button>
        </form>
      </div>
      <% }) %>  
    </article>
    
    
  </body>
  
</html>
